{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}

    <h1>Projects List</h1>

    <p>Your role is: {{ request.user.role }}</p>

    {% if projects %}
        <table border="1" cellpadding="8">
            <tr>
                <th>Code</th>
                <th>Project Name</th>
                <th>Client</th>
                <th>Engineers</th>
                <th>Stage</th>
                <th>Status</th>
            </tr>

            {% for project in projects %}
                <tr>
                    <td>{{ project.project_code }}</td>
                    <td>
                        <a href="{% url 'projects:project_detail' project.pk %}">
                            {{ project.project_name }}
                        </a>
                    </td>
                    <td>{{ project.client }}</td>
                    <td>
                        {% for engineer in project.assigned_engineers.all %}
                            {{ engineer.engineer_name }}
                            {% if engineer.department %}
                                ({{ engineer.get_department_display }})
                            {% endif %}
                            <br>
                        {% empty %}
                            No engineers assigned
                        {% endfor %}
                    </td>
                    <td>{{ project.get_current_stage_display }}</td>
                    <td>{{ project.get_status_display }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No projects found.</p>
    {% endif %}

{% endblock %}