<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to Client Portal Dashboard</h1>

    <p>You are logged in successfully.</p>
    <form method="post" action="{% url 'accounts:logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
    </form>
    <p>Your role is: {{ request.user.role }}</p>

    {% if request.user.role == 'ADMIN' %}
        <h2>Admin Dashboard</h2>
        <p>You can manage all users, clients, engineers, and projects.</p>

    {% elif request.user.role == 'ENGINEER' %}
        <h2>Engineer Dashboard</h2>
        <p>You can manage your assigned projects.</p>

    {% elif request.user.role == 'CLIENT' %}
        <h2>Client Dashboard</h2>
        <p>You can view and follow your projects.</p>
    {% endif %}
</body>
</html>